<a href="https://colab.research.google.com/github/NataliaPietrzak123/BootcampDataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
pd.__version__

'1.3.5'

In [5]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [7]:
s = pd.Series(data=[3,2,4,6], index=["a",'b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [60]:
import numpy as np

s = pd.Series(data=[3,np.nan,4,6], index=["a",'b','c','d'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, True])
s

In [24]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [26]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [27]:
s = pd.Series(data=['JAVA',"Python","SQL"])
s
type(s)

pandas.core.series.Series

In [29]:
s.values
s.dtypes

dtype('O')

In [31]:
price = pd.Series(data={'Apple':200,'CD Project':60,'Amazon':1900})
price

Apple          200
CD Project      60
Amazon        1900
dtype: int64

In [32]:
price['CD Project']

60

In [33]:
 price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [34]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [35]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
dtype: float64

In [38]:
price_pln =price.apply(lambda x:x*3.8)

Podstawowe struktury danych

In [39]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [41]:
df = pd.DataFrame(data=[12,12,32],index=['first','second','third'], columns=['col1'])
df

        col1
first     12
second    12
third     32

In [43]:
df = pd.DataFrame(data={'wig20':['PKN ORLEN','PKO BP'],'wig40':['Amica','Playway']})
df

       wig20    wig40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [61]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [45]:
type(df['col_1'])

pandas.core.series.Series

In [63]:
df.columns = ['a','sprzedaz grudzien','c']
df

         a  sprzedaz grudzien   c
first   10                 12  13
second  23                 12  10

In [62]:
df[['col_1']]

        col_1
first      10
second     23

In [64]:

df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [65]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [66]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [67]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [70]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [74]:

df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64